button{
    background-color:hotpink;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 100px;
}

button:hover{
    cursor: pointer;
    background-color:lightpink;
}

button:active{
    cursor: pointer;
    background-color: aliceblue;
}

a{
    color:midnightblue;
    text-decoration: none;
}

a:visited{
    color:blue;
    font-style: italic;
}

a[href="stmikaputama.ac.id"]{
    color: rgb(145, 12, 92);
}

input[name="Jurusan"]{
    background-color: darkgrey;
    border: none;
    padding: 10px;
}
